@model Freecipes_app.Models.Usuario

@{
    ViewData["Title"] = "CadastroConcluido";
}

<br />
<br />
<div style="width: 40%; margin-left: auto; margin-right: auto;">
    <center><span style="color: white; font-size: 25px; padding-bottom: 20px;">Seu cadastro foi concluído com sucesso!</span></center>
</div>
<br />
<div style="width: 25%; margin-left: auto; margin-right: auto;">
    <center><img alt="Rosto sorrindo" style="color: white; font-size: 25px; padding-bottom: 20px;" class="responsive" src="~/Imagens/smile.png" /></center>
</div>
<div style="width: 40%; margin-left: auto; margin-right: auto;">
    <center><span style="color: white; font-size: 25px; padding-bottom: 20px;">Seja muito bem vindo!</span></center>
</div>
<br />
<div style="width: 40%; margin-left: auto; margin-right: auto;">
    <center><span style="color: white; font-size: 25px; padding-bottom: 20px;">Realize o login para iniciar o acesso.</span></center>
</div>
<br />
<br />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}