@model Freecipes_app.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/estilos.css" />

<style>
    .btn-entrar {
        background-color: #EF233C;
        color: white;
    }

    .btn-esqueceu-senha {
        color: wheat;
        font-weight: bold;
        text-decoration: none;
    }

    .card {
        border: none;
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-md-8">
            <br />

            <div class="card" style="border-radius: 5px;">
                <div class="card-body" >
                    <h2 class="card-title text-center">Acesse sua conta</h2>
                    <form asp-action="Login" style="align-content:center; margin-left:5%; margin:20%">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="control-label">E-mail:</label>
                            <input asp-for="Email" class="form-control" style="border-radius:30px;width:25vw" placeholder="Insira seu e-mail" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Senha" class="control-label">Senha:</label>
                            <input asp-for="Senha" class="form-control" style="border-radius:30px; width:25vw" placeholder="Insira sua senha" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <div class="btn-group" role="group">
                                <input type="submit" value="entrar" class="btn btn-entrar btn-block" style="border-radius:30px; font-size:2vh; font-weight:bold;margin:5px; min-width: 120px" />
                                <a class="btn btn-outline-secondary btn-block" style="border-radius:30px; font-size:2vh; font-weight:bold; color:white; margin:5px;background-color:wheat; border:none; min-width: 120px" asp-controller="Home" asp-action="Index">voltar</a>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="Index" class="btn-esqueceu-senha">Esqueceu sua senha?</a>
                        </div>
                    </form>
                    <span class="text-center" style="color:red; font-size:2vh; font-weight: bold;">@ViewBag.Message</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
