@model Freecipes_app.Models.Usuario

<div class="container m-0 p-0 mw-100">
    <div class="row m-0 p-0 mw-100 align-items-center">
        <div class="col-4">
            <img alt="Imagem com nome e frase" class="responsiveboxman" src="~/Imagens/Banner.png" />
        </div>

        <div class="col-8">


            <div class="d-flex flex-column">
                <a asp-action="Edit">Edit Perfil</a>

            </div>

        </div>
    </div>
</div>