@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/Imagens/Banner.png" class="img-fluid" alt="Responsive image">
</div>
<br />
<h3 class="text-center">Destaques</h3>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Tilápia assada</h4>
            <a><img src="~/Imagens/tilapia.png" class="img-fluid"></a>
        </div>
        <div class="col-sm">
            <h4>Salada de frutas refrescante</h4>
            <a><img src="~/Imagens/salada-de-frutas.png" class="img-fluid"></a>
        </div>
        <div class="col-sm">
            <h4>Sanduiche detox</h4>
            <a><img src="~/Imagens/sanduiche.png" class="img-fluid"></a>
        </div>
        <div class="col-sm">
            <h4>Macarrão com salada</h4>
            <a><img src="~/Imagens/macarrao.png" class="img-fluid"></a>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <h3 class="text-center">Categoria</h3>
    <br />
    <div class="row">
        <div class="col-sm">
            <h4>Café da manhã</h4>
            <a><img src="~/Imagens/pao-de-queijo.png" class="img-fluid"></a>
        </div>
        <div class="col-sm">
            <h4>Almoço/Jantar</h4>
            <a><img src="~/Imagens/feijao.png" class="img-fluid"></a>
        </div>
        <div class="col-sm">
            <h4>Sobremesa</h4>
            <a><img src="~/Imagens/bolo-chocolate.png" class="img-fluid"></a>
        </div>
        <div class="col-sm">
            <h4>Lanche</h4>
            <a><img src="~/Imagens/misto.png" class="img-fluid"></a>
        </div>
    </div>
</div>
